MiNiFi_Demo.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
    <name>MiNiFi Demo</name>
    <snippet>
        <connections>
            <id>62c58c4d-8371-3a09-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>8c806aa0-9094-38fd-0000-000000000000</groupId>
                <id>c68b04f6-ba00-31a6-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>46f95fe5-3024-31d8-0000-000000000000</groupId>
                <id>f8fa0b39-dffa-3b45-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <inputPorts>
            <id>f8fa0b39-dffa-3b45-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <position>
                <x>172.20002441406257</x>
                <y>54.199984741210955</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>Input Edge Data</name>
            <state>RUNNING</state>
            <transmitting>false</transmitting>
            <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
            <id>c1ad1873-170e-3c51-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>241.19998474121095</y>
            </position>
            <height>240.0</height>
            <label>Data Flow</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#d6f8ff</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>596.3999481201172</width>
        </labels>
        <labels>
            <id>f32ca55c-7bbf-3309-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <position>
                <x>10.800024414062477</x>
                <y>0.0</y>
            </position>
            <height>164.40000915527344</height>
            <label>Data is being sent from Edge.  This is the landing zone</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>20px</value>
                </entry>
            </style>
            <width>610.8000183105469</width>
        </labels>
        <processGroups>
            <id>8c806aa0-9094-38fd-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <position>
                <x>109.20002441406257</x>
                <y>283.199984741211</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>18a4721d-0bed-31eb-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
                        <id>c91a855c-0a73-363b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>8c806aa0-9094-38fd-0000-000000000000</groupId>
                        <id>c68b04f6-ba00-31a6-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b061ff64-70f0-3598-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8c806aa0-9094-38fd-0000-000000000000</groupId>
                        <id>fe230358-3719-3e67-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>8c806aa0-9094-38fd-0000-000000000000</groupId>
                        <id>b855683e-d1cf-3845-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bcf30036-f848-3330-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8c806aa0-9094-38fd-0000-000000000000</groupId>
                        <id>93fc1a63-aeec-36f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>8c806aa0-9094-38fd-0000-000000000000</groupId>
                        <id>010ae520-51db-3b7e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>c68b04f6-ba00-31a6-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>90.79737854003906</x>
                        <y>-131.46034240722656</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>from Edge Device</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>81755ae9-1561-3b73-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>565.9920537160574</x>
                        <y>-3.3806008131135172</y>
                    </position>
                    <height>274.85235595703125</height>
                    <label>MiNiFi DataFlow</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d6f5ff</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>521.7514495849609</width>
                </labels>
                <labels>
                    <id>b31b889c-461e-3c17-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>-72.29803388432344</x>
                        <y>-198.37472600941527</y>
                    </position>
                    <height>499.3060760498047</height>
                    <label>From Edge DataFlow</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>558.2251586914062</width>
                </labels>
                <processGroups>
                    <id>06daf3f4-1839-39f1-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>23.73434828331574</x>
                        <y>66.76116357004616</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>00dd1375-4eab-3433-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>540ae1b8-cd1a-3895-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>8607c6a3-4a26-3445-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>09844cc1-3944-30da-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>fa44e62f-3667-308e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>pressure</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>540ae1b8-cd1a-3895-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0fdf91fe-2682-3c45-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>3b3a4dc2-d876-3e1b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>8d3b3360-5240-378e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1b5e39f3-7eb6-3303-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>8607c6a3-4a26-3445-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>0de03b98-7f18-3cd5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2c6cb65f-cef5-304d-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>731cc1d2-6c74-3d09-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>60fef458-e07b-358b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>397592bd-7452-3d1e-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>46e42f87-49a2-3201-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>3b3a4dc2-d876-3e1b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>46c6f844-679e-32df-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>0de03b98-7f18-3cd5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>c91a855c-0a73-363b-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6938ed56-d2dc-36c8-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>7b84e2e2-46de-3066-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>540ae1b8-cd1a-3895-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a1a6ef2d-5c0a-3841-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>24ebe135-49de-35aa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>cc73190e-e00b-3b30-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ba76d30b-fe03-3674-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>8c356c3a-0715-332b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>24ebe135-49de-35aa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e4489b3e-da92-3997-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>cc73190e-e00b-3b30-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>temp</selectedRelationships>
                            <source>
<groupId>06daf3f4-1839-39f1-0000-000000000000</groupId>
<id>540ae1b8-cd1a-3895-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>c91a855c-0a73-363b-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>223.54615520860148</x>
<y>472.99999524271055</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>from AWS</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>0df2eb4e-54a3-38d7-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>-390.82942319105666</x>
<y>452.8599766880234</y>
                            </position>
                            <height>1616.8115844726562</height>
                            <label>From Edge Data Flow</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#d6fcff</value>
</entry>
<entry>
    <key>font-size</key>
    <value>20px</value>
</entry>
                            </style>
                            <width>1543.9590606689453</width>
                        </labels>
                        <labels>
                            <id>404ad1ce-c9d8-3462-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>1279.520024837508</x>
<y>438.01994397317964</y>
                            </position>
                            <height>661.1999206542969</height>
                            <label>Receive Response from the Edge Based
 after instructions have been sent </label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#d7ffd6</value>
</entry>
<entry>
    <key>font-size</key>
    <value>20px</value>
</entry>
                            </style>
                            <width>476.8799743652344</width>
                        </labels>
                        <labels>
                            <id>9d21c8a3-6f84-3abe-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>2152.159724544539</x>
<y>423.6199635044295</y>
                            </position>
                            <height>482.6399688720703</height>
                            <label>Post Instruction/Message to the Edge</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>22px</value>
</entry>
                            </style>
                            <width>440.87994384765625</width>
                        </labels>
                        <processors>
                            <id>0de03b98-7f18-3cd5-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>168.54615520860148</x>
<y>646.8200172153668</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[
  {
    "operation": "shift",
    "spec": {
      "id": "SensorId",
      "type": "ReadingType",
      "reading": "value",
      "time": "timestamp"
    }
  }
]
</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Transform JSON Attributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>24ebe135-49de-35aa-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>-360.17167089872845</x>
<y>1650.3795684169663</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>key-derivation-function</key>
        <value>
            <name>key-derivation-function</name>
        </value>
    </entry>
    <entry>
        <key>Encryption Algorithm</key>
        <value>
            <name>Encryption Algorithm</name>
        </value>
    </entry>
    <entry>
        <key>allow-weak-crypto</key>
        <value>
            <name>allow-weak-crypto</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>raw-key-hex</key>
        <value>
            <name>raw-key-hex</name>
        </value>
    </entry>
    <entry>
        <key>public-keyring-file</key>
        <value>
            <name>public-keyring-file</name>
        </value>
    </entry>
    <entry>
        <key>public-key-user-id</key>
        <value>
            <name>public-key-user-id</name>
        </value>
    </entry>
    <entry>
        <key>private-keyring-file</key>
        <value>
            <name>private-keyring-file</name>
        </value>
    </entry>
    <entry>
        <key>private-keyring-passphrase</key>
        <value>
            <name>private-keyring-passphrase</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Mode</key>
        <value>Decrypt</value>
    </entry>
    <entry>
        <key>key-derivation-function</key>
        <value>NIFI_LEGACY</value>
    </entry>
    <entry>
        <key>Encryption Algorithm</key>
        <value>MD5_128AES</value>
    </entry>
    <entry>
        <key>allow-weak-crypto</key>
        <value>not-allowed</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>raw-key-hex</key>
    </entry>
    <entry>
        <key>public-keyring-file</key>
    </entry>
    <entry>
        <key>public-key-user-id</key>
    </entry>
    <entry>
        <key>private-keyring-file</key>
    </entry>
    <entry>
        <key>private-keyring-passphrase</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Decrypt Data</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EncryptContent</type>
                        </processors>
                        <processors>
                            <id>3b3a4dc2-d876-3e1b-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>1337.9877593492279</x>
<y>721.9473613857151</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>text-line-count</key>
        <value>
            <name>text-line-count</name>
        </value>
    </entry>
    <entry>
        <key>text-line-nonempty-count</key>
        <value>
            <name>text-line-nonempty-count</name>
        </value>
    </entry>
    <entry>
        <key>text-word-count</key>
        <value>
            <name>text-word-count</name>
        </value>
    </entry>
    <entry>
        <key>text-character-count</key>
        <value>
            <name>text-character-count</name>
        </value>
    </entry>
    <entry>
        <key>split-words-on-symbols</key>
        <value>
            <name>split-words-on-symbols</name>
        </value>
    </entry>
    <entry>
        <key>character-encoding</key>
        <value>
            <name>character-encoding</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>text-line-count</key>
        <value>true</value>
    </entry>
    <entry>
        <key>text-line-nonempty-count</key>
        <value>false</value>
    </entry>
    <entry>
        <key>text-word-count</key>
        <value>true</value>
    </entry>
    <entry>
        <key>text-character-count</key>
        <value>true</value>
    </entry>
    <entry>
        <key>split-words-on-symbols</key>
        <value>false</value>
    </entry>
    <entry>
        <key>character-encoding</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Counters</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.CountText</type>
                        </processors>
                        <processors>
                            <id>46e42f87-49a2-3201-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>1340.6609073231618</x>
<y>938.4882338578332</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Log Message From Edge</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>540ae1b8-cd1a-3895-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>168.54615520860148</x>
<y>1152.2599561802103</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>pressure</key>
        <value>
            <name>pressure</name>
        </value>
    </entry>
    <entry>
        <key>temp</key>
        <value>
            <name>temp</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>pressure</key>
        <value>${"reading type":contains('pres')}</value>
    </entry>
    <entry>
        <key>temp</key>
        <value>${"reading type":contains('temp')}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Route on Sensor Type</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>pressure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>temp</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>60fef458-e07b-358b-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>2178.079968685164</x>
<y>474.0199781528671</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>test</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>60 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>731cc1d2-6c74-3d09-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>2176.639597591414</x>
<y>708.7400318638045</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
        <value>
            <name>Trusted Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>http://ec2-54-158-55-189.compute-1.amazonaws.com:10222/contentListener</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Respond to sender</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>7b84e2e2-46de-3066-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>693.4261625328204</x>
<y>1418.6599512973978</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Log Unmatch</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>8101b373-6f74-3b42-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>-1004.3259090830882</x>
<y>1718.382167706004</y>
                            </position>
                            <bundle>
<artifact>nifi-aws-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Object Key</key>
        <value>
            <name>Object Key</name>
        </value>
    </entry>
    <entry>
        <key>Bucket</key>
        <value>
            <name>Bucket</name>
        </value>
    </entry>
    <entry>
        <key>Content Type</key>
        <value>
            <name>Content Type</name>
        </value>
    </entry>
    <entry>
        <key>Access Key</key>
        <value>
            <name>Access Key</name>
        </value>
    </entry>
    <entry>
        <key>Secret Key</key>
        <value>
            <name>Secret Key</name>
        </value>
    </entry>
    <entry>
        <key>Credentials File</key>
        <value>
            <name>Credentials File</name>
        </value>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
            <name>AWS Credentials Provider service</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
        <value>
            <name>s3-object-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>
            <name>s3-object-remove-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>
            <name>Storage Class</name>
        </value>
    </entry>
    <entry>
        <key>Region</key>
        <value>
            <name>Region</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
        <value>
            <name>Expiration Time Rule</name>
        </value>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>
            <name>FullControl User List</name>
        </value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>
            <name>Read Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>
            <name>Write Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>
            <name>Read ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>
            <name>Write ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>
            <name>canned-acl</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
        <value>
            <name>Endpoint Override URL</name>
        </value>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>
            <name>Signer Override</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>
            <name>Multipart Threshold</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>
            <name>Multipart Part Size</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>
            <name>Multipart Upload AgeOff Interval</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>
            <name>Multipart Upload Max Age Threshold</name>
        </value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>
            <name>server-side-encryption</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
        <value>
            <name>Proxy Host Port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-name</key>
        <value>
            <name>proxy-user-name</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-password</key>
        <value>
            <name>proxy-user-password</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Object Key</key>
        <value>${filename}</value>
    </entry>
    <entry>
        <key>Bucket</key>
    </entry>
    <entry>
        <key>Content Type</key>
    </entry>
    <entry>
        <key>Access Key</key>
    </entry>
    <entry>
        <key>Secret Key</key>
    </entry>
    <entry>
        <key>Credentials File</key>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>Standard</value>
    </entry>
    <entry>
        <key>Region</key>
        <value>us-west-2</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>30 secs</value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>${s3.permissions.full.users}</value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>${s3.permissions.read.users}</value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>${s3.permissions.write.users}</value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>${s3.permissions.readacl.users}</value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>${s3.permissions.writeacl.users}</value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>${s3.owner}</value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>${s3.permissions.cannedacl}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>Default Signature</value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>60 min</value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>7 days</value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>None</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
    </entry>
    <entry>
        <key>proxy-user-name</key>
    </entry>
    <entry>
        <key>proxy-user-password</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutS3Object</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                        </processors>
                        <processors>
                            <id>8607c6a3-4a26-3445-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>168.54615520860148</x>
<y>881.5399928013042</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>reading type</key>
        <value>
            <name>reading type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>reading type</key>
        <value>$.ReadingType</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Promote Sensor Type Attribute</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>8c356c3a-0715-332b-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>-360.17167089872845</x>
<y>1886.6598292270853</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Log Temp</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>8d3b3360-5240-378e-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>1336.3408389637868</x>
<y>502.651424297801</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Base Path</key>
        <value>
            <name>Base Path</name>
        </value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>
            <name>Listening Port</name>
        </value>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
        <value>
            <name>Max Data to Receive per Second</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>
            <name>Authorized DN Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>
            <name>Max Unconfirmed Flowfile Time</name>
        </value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
        <value>
            <name>HTTP Headers to receive as Attributes (Regex)</name>
        </value>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>
            <name>Return Code</name>
        </value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>
            <name>multipart-request-max-size</name>
        </value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>
            <name>multipart-read-buffer-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Base Path</key>
        <value>contentListener</value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>10223</value>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>200</value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>512 KB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Listen For Response</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                        </processors>
                        <processors>
                            <id>cc73190e-e00b-3b30-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>-360.17167089872845</x>
<y>1428.6196294521224</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>key-derivation-function</key>
        <value>
            <name>key-derivation-function</name>
        </value>
    </entry>
    <entry>
        <key>Encryption Algorithm</key>
        <value>
            <name>Encryption Algorithm</name>
        </value>
    </entry>
    <entry>
        <key>allow-weak-crypto</key>
        <value>
            <name>allow-weak-crypto</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>raw-key-hex</key>
        <value>
            <name>raw-key-hex</name>
        </value>
    </entry>
    <entry>
        <key>public-keyring-file</key>
        <value>
            <name>public-keyring-file</name>
        </value>
    </entry>
    <entry>
        <key>public-key-user-id</key>
        <value>
            <name>public-key-user-id</name>
        </value>
    </entry>
    <entry>
        <key>private-keyring-file</key>
        <value>
            <name>private-keyring-file</name>
        </value>
    </entry>
    <entry>
        <key>private-keyring-passphrase</key>
        <value>
            <name>private-keyring-passphrase</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Mode</key>
        <value>Encrypt</value>
    </entry>
    <entry>
        <key>key-derivation-function</key>
        <value>NIFI_LEGACY</value>
    </entry>
    <entry>
        <key>Encryption Algorithm</key>
        <value>MD5_128AES</value>
    </entry>
    <entry>
        <key>allow-weak-crypto</key>
        <value>not-allowed</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>raw-key-hex</key>
    </entry>
    <entry>
        <key>public-keyring-file</key>
    </entry>
    <entry>
        <key>public-key-user-id</key>
    </entry>
    <entry>
        <key>private-keyring-file</key>
    </entry>
    <entry>
        <key>private-keyring-passphrase</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Encrypt Data</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EncryptContent</type>
                        </processors>
                        <processors>
                            <id>fa44e62f-3667-308e-0000-000000000000</id>
                            <parentGroupId>06daf3f4-1839-39f1-0000-000000000000</parentGroupId>
                            <position>
<x>177.90626751328898</x>
<y>1418.6599512973978</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Log Pressure</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                    </contents>
                    <name>Input Edge Data PG</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>cd1496d4-6080-3011-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>635.0713735164378</x>
                        <y>69.83365129249773</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>574874ad-4bc9-3fca-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd1496d4-6080-3011-0000-000000000000</groupId>
<id>c7678a7d-ebfb-382e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cd1496d4-6080-3011-0000-000000000000</groupId>
<id>cf2b6cfc-512c-3d32-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6e5b4b3e-c66b-3522-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd1496d4-6080-3011-0000-000000000000</groupId>
<id>cf2b6cfc-512c-3d32-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cd1496d4-6080-3011-0000-000000000000</groupId>
<id>e5aca433-e013-36ef-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7bd399e3-b365-3cfd-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>949.5894775390625</x>
<y>-1243.8070220947266</y>
                            </bends>
                            <destination>
<groupId>73514909-618e-31cd-0000-000000000000</groupId>
<id>551e3122-9607-1ef3-b549-180e3fdf2a43</id>
<type>REMOTE_INPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cd1496d4-6080-3011-0000-000000000000</groupId>
<id>0a239f4f-d0f3-3c07-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c2d5485a-dd74-3ac2-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cd1496d4-6080-3011-0000-000000000000</groupId>
<id>e5aca433-e013-36ef-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cd1496d4-6080-3011-0000-000000000000</groupId>
<id>aba06206-e0d5-3ea8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f386fe65-dc45-3624-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>73514909-618e-31cd-0000-000000000000</groupId>
<id>551e3122-9607-1ef3-b549-180e3fdf2a43</id>
<type>REMOTE_INPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cd1496d4-6080-3011-0000-000000000000</groupId>
<id>6fcd60bd-57a3-32a0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <labels>
                            <id>7be4227b-292a-36c5-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <position>
<x>1299.3084949233426</x>
<y>-1514.4888162628672</y>
                            </position>
                            <height>912.0479431152344</height>
                            <label>MiNiFi (Edge Device) Listening For Instructions</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#d4eaff</value>
</entry>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>453.9839630126953</width>
                        </labels>
                        <labels>
                            <id>fce8c0a4-a97b-3ef0-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <position>
<x>298.9132172133818</x>
<y>-1492.9229410187268</y>
                            </position>
                            <height>505.39198303222656</height>
                            <label>Generate Data From Edge Device</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#d7ffd6</value>
</entry>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>903.9839019775391</width>
                        </labels>
                        <processors>
                            <id>0a239f4f-d0f3-3c07-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <position>
<x>801.5063144057649</x>
<y>-1422.6753209503672</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>{
  "id": "${UUID()}",
  "type": "pressure",
  "reading": "${random()}",
  "time": "${now()}"
}</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>20 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Generate Pressure Readings</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>6fcd60bd-57a3-32a0-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <position>
<x>411.029731222171</x>
<y>-1423.806844379323</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>{
  "id": "${UUID()}",
  "type": "temp",
  "reading": "${random()}",
  "time": "${now()}"
}</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>22 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Generate Temp Readings</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>aba06206-e0d5-3ea8-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <position>
<x>1338.887301954593</x>
<y>-1451.7681889923592</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Base Path</key>
        <value>
            <name>Base Path</name>
        </value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>
            <name>Listening Port</name>
        </value>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
        <value>
            <name>Max Data to Receive per Second</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>
            <name>Authorized DN Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>
            <name>Max Unconfirmed Flowfile Time</name>
        </value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
        <value>
            <name>HTTP Headers to receive as Attributes (Regex)</name>
        </value>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>
            <name>Return Code</name>
        </value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>
            <name>multipart-request-max-size</name>
        </value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>
            <name>multipart-read-buffer-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Base Path</key>
        <value>contentListener</value>
    </entry>
    <entry>
        <key>Listening Port</key>
        <value>10222</value>
    </entry>
    <entry>
        <key>Max Data to Receive per Second</key>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Authorized DN Pattern</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Max Unconfirmed Flowfile Time</key>
        <value>60 secs</value>
    </entry>
    <entry>
        <key>HTTP Headers to receive as Attributes (Regex)</key>
    </entry>
    <entry>
        <key>Return Code</key>
        <value>200</value>
    </entry>
    <entry>
        <key>multipart-request-max-size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>multipart-read-buffer-size</key>
        <value>512 KB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Listen For Instructions</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                        </processors>
                        <processors>
                            <id>c7678a7d-ebfb-382e-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <position>
<x>1346.8552584975619</x>
<y>-758.0648902328987</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
        <value>
            <name>Trusted Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>POST</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>http://sunman.centralus.cloudapp.azure.com:10223/contentListener</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Respond to sender</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>cf2b6cfc-512c-3d32-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <position>
<x>1359.431247267093</x>
<y>-984.5952981261631</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>-Instructions recieved at ${now()} Word count: ${text.word.count} character count: ${text.character.count}</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Append</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Create Response</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>e5aca433-e013-36ef-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <position>
<x>1351.3973520717805</x>
<y>-1222.2450841254163</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0.3.3.1.0-10</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>text-line-count</key>
        <value>
            <name>text-line-count</name>
        </value>
    </entry>
    <entry>
        <key>text-line-nonempty-count</key>
        <value>
            <name>text-line-nonempty-count</name>
        </value>
    </entry>
    <entry>
        <key>text-word-count</key>
        <value>
            <name>text-word-count</name>
        </value>
    </entry>
    <entry>
        <key>text-character-count</key>
        <value>
            <name>text-character-count</name>
        </value>
    </entry>
    <entry>
        <key>split-words-on-symbols</key>
        <value>
            <name>split-words-on-symbols</name>
        </value>
    </entry>
    <entry>
        <key>character-encoding</key>
        <value>
            <name>character-encoding</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>text-line-count</key>
        <value>true</value>
    </entry>
    <entry>
        <key>text-line-nonempty-count</key>
        <value>false</value>
    </entry>
    <entry>
        <key>text-word-count</key>
        <value>true</value>
    </entry>
    <entry>
        <key>text-character-count</key>
        <value>true</value>
    </entry>
    <entry>
        <key>split-words-on-symbols</key>
        <value>false</value>
    </entry>
    <entry>
        <key>character-encoding</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Counter</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.CountText</type>
                        </processors>
                        <remoteProcessGroups>
                            <id>73514909-618e-31cd-0000-000000000000</id>
                            <parentGroupId>cd1496d4-6080-3011-0000-000000000000</parentGroupId>
                            <position>
<x>608.2343417495149</x>
<y>-1168.2913487823985</y>
                            </position>
                            <comments></comments>
                            <communicationsTimeout>30 sec</communicationsTimeout>
                            <contents>
<inputPorts>
    <batchSettings/>
    <comments></comments>
    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
    <connected>true</connected>
    <exists>true</exists>
    <groupId>35a23ae3-3ae0-1582-b5ed-16a5fb925c59</groupId>
    <id>551e3122-9607-1ef3-b549-180e3fdf2a43</id>
    <name>Input Edge Data</name>
    <targetId>bab281c3-0168-1000-ffff-ffff9ae71f95</targetId>
    <targetRunning>true</targetRunning>
    <transmitting>false</transmitting>
    <useCompression>false</useCompression>
</inputPorts>
                            </contents>
                            <proxyHost></proxyHost>
                            <proxyUser></proxyUser>
                            <targetUri>http://sunman.centralus.cloudapp.azure.com:9090/nifi</targetUri>
                            <targetUris>http://sunman.centralus.cloudapp.azure.com:9090/nifi</targetUris>
                            <transportProtocol>RAW</transportProtocol>
                            <yieldDuration>10 sec</yieldDuration>
                        </remoteProcessGroups>
                    </contents>
                    <name>MiNiFi PG</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>010ae520-51db-3b7e-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>394.25128949068153</x>
                        <y>781.9314583519654</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Base Path</key>
<value>
    <name>Base Path</name>
</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
<value>
    <name>Max Data to Receive per Second</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>
    <name>Authorized DN Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>
    <name>Max Unconfirmed Flowfile Time</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
<value>
    <name>HTTP Headers to receive as Attributes (Regex)</name>
</value>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>
    <name>Return Code</name>
</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>
    <name>multipart-request-max-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>
    <name>multipart-read-buffer-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Base Path</key>
<value>contentListener</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>10223</value>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>512 KB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ListenHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                </processors>
                <processors>
                    <id>93fc1a63-aeec-36f8-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>997.4705096603145</x>
                        <y>800.16829232606</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>b855683e-d1cf-3845-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>772.0</x>
                        <y>547.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>fe230358-3719-3e67-0000-000000000000</id>
                    <parentGroupId>8c806aa0-9094-38fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1491.0</x>
                        <y>556.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.1.0-10</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
            </contents>
            <name>Edge Demo PG</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>02/07/2019 15:09:13 UTC</timestamp>
</template>
